<template>
  <div class="row">
    <div class="col-12 col-sm-4">
      <i class="fas fa-smile fa-6x"></i>
      <br><br>
      <h1>Fun</h1>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint excepturi harum eaque incidunt inventore repellat consequatur rem aliquam itaque? Alias et ex dolor laborum amet enim perspiciatis beatae voluptatibus nulla!</p>
    </div>
    <div class="col-12 col-sm-4">
      <i class="fas fa-code fa-6x"></i>
      <br><br>
      <h1>Learn to Code</h1>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae iste ratione in odio, adipisci laudantium enim cupiditate labore possimus sunt veritatis voluptatum, necessitatibus, est nobis quaerat? Quo assumenda eos nemo.</p>
    </div>
    <div class="col-12 col-sm-4">
      <i class="fas fa-users fa-6x"></i>
      <br><br>
      <h1>Collaborate</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus soluta voluptatem nisi corporis suscipit doloribus voluptatum ullam quidem molestiae, voluptatibus odit iste hic exercitationem eius similique, optio corrupti quis!</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BasicInfo'
}
</script>

<style lang="scss" scoped>
  @import '../scss/base';

  .col-sm-4, .col-12 {
    padding: 32px 16px;
    border-radius: 16px;
  }
</style>