<template>
  <div class="container">
    <Navbar/>
    <br><br><br><br>
    <Hero/>
    <br><br><br><br>
    <BasicInfo/>
  </div>
</template>

<script>
import Navbar from './navbar.vue'
import Hero from './hero.vue'
import BasicInfo from './basicinfo.vue'


export default {
  name: 'Content',
  components: {
    Navbar,
    Hero,
    BasicInfo
  }
}
</script>

<style lang='scss' scoped>
  @import '../scss/base';

  .container {
    max-width: 90%;
    padding: 0;
  }
</style>