<template>
  <div class="row">
    <div class='hero col'>
      <h1>Welcome to Marling Code Club</h1>
      <h4>A code club that takes place at marling</h4>
      <br><br><br><br>
      <button>Join Today!</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hero'
}
</script>

<style lang='scss' scoped>
  @import '../scss/base';

  h1 {
    font-weight: 700;
  }

  .hero {
    padding: 128px 15px;
    border-radius: 8px;
    background-image: url('../assets/background.jpg');
    color: white;
  }
  button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    color: $primary;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
    letter-spacing: 1px;
  }
</style>