<template>
  <div class='row'>
    <div class="navbar col">
      <ul>
        <li class="active"><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact Us</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>

<style lang="scss" scoped>
  @import '../scss/base';

  .row {
    margin: 0 -15px;
  }

  div, ul, li {
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }

  li {
    border-radius: 0 0 4px 4px;
    display: inline-block;
    color: $primary;
    padding: 16px 32px;

    a {
      font-weight: 500;
      
    }
  }
  
  li:hover:not(.active) {
    background-color: #dddddd;
  }

  .active:hover {
    background-image: linear-gradient(to bottom right, $primary, darken($primary, 20%));
  }

  .active {
    background-image: linear-gradient(to bottom right, lighten($primary, 10%), darken($primary, 10%));
    color: #ffffff;
  }
</style>