<template>
  <div id="app">
    <Content/>
  </div>
</template>

<script>
import Content from './components/content.vue'

export default {
  name: 'app',
  components: {
    Content
  }
}
</script>

<style lang="scss">
  @import 'scss/base';
  @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
  
  #app {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
  }
</style>
